@import url(https://fonts.googleapis.com/css?family=Raleway:100,400,700);

/* selector universal */
*{
  box-sizing: border-box;
  /* descuenta del width y height, lo sumado en padding y border */
}

body{
  font-family: 'Raleway', sans-serif;
  margin: 0;
  /*
    margin-top: ;
    margin-right: ;
    margin-bottom: ;
    margin-left: ;
  */
}
img {
  max-width: 100%;
}

/* Resets */

/* agrupación de selectores */
ul, ol{
  list-style: none; /* elimina la viñeta */
  margin: 0;
  padding: 0;
  /*
    padding-top: ;
    padding-right: ;
    padding-bottom: ;
    padding-left: ;
  */
}

figure{
  margin: 0;
}

/*
  tamaños
    ancho - width:;
    alto - height:;
  modelo de caja - box model
    - width
    - height
    - padding
    - border
      border-style [solid | dashed | dotted | double]
      border-width
      border-color
      border: ;
    - margin
*/

.main-header{
  max-width: 1200px;
  margin: auto;
  padding: 20px 0;
}

.logo{
  float: left;
}

.logo figcaption{
  display: none;
}

.main-nav{
  float: right;
}

/* selector descendiente */
.main-nav li{
  float: left;
  margin: 5px 0 0 15px;
}

.main-nav a{
  text-decoration: none;
  color: #222;
}

.cleaner{
  clear: both;
}

#banner{
  background: url(../images/indexbanner-bg3.jpg) center top no-repeat;
  background-size: cover;
}

.container{
  max-width: 1200px;
  margin: auto;
}

.banner-title{
  font-size: 50px;
  color: #fff;
  padding-top: 150px;
  margin: 0;
}

.banner-text{
  font-size: 20px;
  color: #fff;
}

.register{
  background-color: #06B4F2;
  position: relative;
  top: 30px;
}

.register input{
  width: 83%;
  height: 60px;
  font-size: 16px;
  padding: 0 15px;
  font-family: inherit;
}

.register button{
  border: none;
  background-color: #06B4F2;
  width: 16%;
  height: 60px;
  color: #fff;
  font-family: inherit;
  font-size: 16px;
}

.producto{
  width: 25%;
  text-align: center;
  float: left;
  margin-top: 8%;
  padding: 0 15px;
}

.producto h4{
  text-transform: uppercase;
}

.title-services{
  text-align: center;
  margin-top: 100px;
  font-size: 40px;
  margin-bottom: 0;
}

.title-services + p{
  text-align: center;
  margin: 0 0 100px;
  font-size: 16px;
}

.left-services{
  width: 33.3%;
  float: left;
}

.left-services li{
  position: relative;
  text-align: right;
  padding-right: 60px;
  margin-bottom: 10px;
}

.left-services img{
  position: absolute;
  right: 0;
  top: 0;
}

.right-services li{
  position: relative;
  padding-left: 60px;
}
.right-services img{
  position: absolute;
  left: 0;
  top: 0;
}

.cellphone{
  width: 33.3%;
  text-align: center;
  float: left;
}

.right-services{
  width: 33.3%;
  float: left;
}

.pricing-table{
  background: url(../images/pricing-bg.jpg) center top no-repeat;
  background-size: contain;
  margin-top: -100px;
}

.pricing-table h3{
  text-align: center;
  margin: 0;
  padding: 50px 0 0;
  font-size: 40px;
}

.pricing-table h3 + p{
  text-align: center;
}

.price-table{
  background-color: #fff;
  box-shadow:
    0 0 10px rgba(0,0,0,0.5)
    /*-5px -5px 10px rgba(0,0,0,0.5) inset,
    -5px -5px 10px red,
    -10px -10px 10px green,
    -15px -15px 10px orange*/
    ;
  width: 22.5%;
  padding: 30px;
  float: left;
  margin-top: 60px;
  margin-right: 3.3%;
  border-radius: 5px;
  text-align: center;
}

.price-table h4{
  text-transform: uppercase;
  font-size: 20px;
}

.price-table h2{
  font-size: 50px;
  margin: 0;
}

.price-table h2 sup{
  font-size: 20px;
  position: relative;
  top: 5px;
}

.price-table p{
  margin: 0 0 30px;
}

.price-table table{
  width: 100%;
}

.price-table td{
  padding: 5px;
}

.price-table a{
  display: block;
  background-color: #26ABF6;
  color: #fff;
  border-radius: 5px;
  margin-top: 10px;
  text-decoration: none;
  padding: 10px;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.price-table:last-of-type{
  margin-right: 0;
}

/*.no-margin{
  margin: 0;
}*/

/* pseudo selectores
  selector:pseudo-selector{
    mi regla
  }
  :last-child
*/


.main-footer{
  background-color: #233042;
  margin-top: 80px;
}

.main-footer h3{
  text-align: center;
  font-size: 30px;
  color: #fff;
  margin: 0;
  padding: 60px 0;
  font-weight: 400;
  /*text-shadow:
    3px 3px 5px black,
    6px 6px 5px red,
    9px 9px 5px green,
    12px 12px 5px violet;*/
}

.main-footer h3 span{
  color: #26ABF6;
  font-weight: 700;
  font-size: 40px;
}

.bg-dark{
  background-color: #151D27;
  padding: 30px 0;
}

.copyright{
  float: left;
  margin: 10px 0 0;
  color: #fff;
  font-weight: 100;
}

.footer-nav{
  float: right;
  margin-top: 10px;
}

.footer-nav li{
  display: inline-block;
  margin-left: 10px;
}

.footer-nav a{
  color: #fff;
  text-decoration: none;
  font-weight: 100;
}


/* Start Contact Section */

#banner2{
  background: url(../images/indexbanner-bg2.jpg) center top no-repeat;
  background-size: cover;
  padding: 10% 0;
}

.banner2-title{
  font-size: 50px;
  color: #fff;
  margin: 0;
}

.banner2-text{
  font-size: 20px;
  color: #fff;
}
.contact-form {
  width:100%;
}
.left-form, .right-form {
  width: 50%;
  float: left;

}


.left-form input{
  border:solid 1px grey;
  width: 95%;
  height: 50px;
  font-size: 13px;
  font-family: inherit;
  border-radius: 5px;
  padding-left: 10px;
  margin: 0 2.5% 10px 2.5%;
  float: left;
}

.right-form input{
  border:solid 1px grey;
  width: 95%;
  height: 170px;
  font-size: 13px;
  font-family: inherit;
  border-radius: 5px;
  padding-left: 10px;
  margin: 0 2.5%;
  float: right;
  padding-bottom: 120px;
}
.contact-button {
  width:100%;
  margin:10px auto;
  text-align: center;
}
.button-form {
  border: none;
  background-color: #06B4F2;
  width: 15%;
  height: 40px;
  color: #fff;
  border-radius: 5px;
  font-family: inherit;
  font-size: 10px;
  text-transform: uppercase;
  letter-spacing: 2px;

/* Finish Contact Section*/

@media (max-width:800px) {

  .container, .main-header {
    width:95%;
  }
  .producto {
    width:50%;
    margin-top: 80px;
  }
  .left-services, .cellphone, .right-services {
    float:none;
    width:100%;
  }
  .left-services li{
    position: relative;
    padding-left: 60px;
    text-align:left;
  }
  .left-services img{
    position: absolute;
    left: 0;
    top: 0;
  }
  .pricing-table {
    margin-top: 0;
  }
  .price-table {
    width:48%;
    margin-right: 4%;
  }
  .price-table:nth-of-type(even) {
    margin-right: 0;
  }
  .price-table h4 {
    font-size: 15px;
  }
  .price-table table {
    font-size: 12px;
  }
}

@media (max-width:600px) {
  
  .logo, .main-nav, .main-nav li, .copyright, .footer-nav, .footer-nav li {
    float:none;
    margin:auto;
    text-align:center;
    margin-top:2%;
  }
  #banner {
    background:none;
  }
  .banner-title, .banner-text {
    display:none;
  }
  .title-services + p {
    margin-top:10px;

  }
  .main-footer h3 {
    font-size: 20px;
  }
  .main-footer h3 span {
    font-size: 30px;
  }
}

@media (max-width:440px) {
  .register input {
    width: 77%;
    font-size: 12px;
  }
  .register button{
    width: 21%;
    font-size: 12px;
  }
  .producto {
    width:100%;
  }
  .title-services {
    font-size: 30px;
  }
  .title-services + p {
    font-size: 14px;
  }
  .left-services li, .right-services li {
    padding-left:75px;
    padding-right: 40px;
  }
  .pricing-table h3{
    font-size: 25px;
    padding-top:40px;
  }
  .price-table{
    padding: 40px 10px 40px;
  }
  .price-table h4 {
    font-size: 14px;
  }
  .price-table table {
    font-size: 11px;
  }
  .main-footer h3 {
    font-size: 15px;
  }
  .main-footer h3 span {
    font-size: 22px;
  }

}